/Ejercicios-Basicos-Clases-y-Objetos/01. Persona-y-Datos-Personales/nbproject/private/
/Ejercicios-Basicos-Clases-y-Objetos/Ejercicio01/nbproject/private/
/EjerciciosHerencia/nbproject/private/
/EjerciciosHerencia/Ejercicio01/nbproject/private/
/EjerciciosHerencia/Ejercicio01/build/
/EjerciciosHerencia/Ejercicio2/nbproject/private/
/EjerciciosHerencia/Ejercicio02/nbproject/private/
/EjerciciosHerencia/Ejercicio02/build/
